<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.carc.fakecallandsms_mvp">

    <!--COMMON PERMISSIONS-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--CALL PERMISSIONS-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTNGS"/>

    <!--SMS PERMISSIONS-->
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <application
            android:allowBackup="true"
            android:name=".app.App"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SplashActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity-alias
                android:name=".Launcher"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait"
                android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>


        <receiver
                android:name=".stealth.LaunchAppViaDialReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".MainTabActivity"
                android:label="@string/app_name"
                android:excludeFromRecents="false"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>

            </intent-filter>
        </activity>

        <activity
                android:name="me.carc.fakecallandsms_mvp.CallIncomingActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:excludeFromRecents="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
                android:name=".SettingsActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SettingsTheme"/>


        <service
                android:enabled="true"
                android:name="me.carc.fakecallandsms_mvp.alarm.SmsIntentService"/>


        <receiver
                android:name=".alarm.CallAlarmReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="me.carc.fakecallandsms_mvp.alarm.ALARM_RECIEVED">
            <intent-filter android:priority="1">
                <action android:name="me.carc.fakecallandsms_mvp.alarm.ALARM_RECIEVED"/>
            </intent-filter>
        </receiver>


        <!--SMS HANDLERS-->

        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver
                android:name=".sms.FakeSmsReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
            </intent-filter>
        </receiver>


        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
                android:name=".sms.MmsReceiver"
                android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>

        <!-- Service that delivers messages from the phone "quick response" -->
        <service
                android:name=".sms.HeadlessSmsSendService"
                android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </service>


        <provider
            android:name=".common.utils.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fbef5068aff924f588f1045c445fae0a1e2eaa4a" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>